/* george lychock MS2 stylesheet */
/* NOTES:
    - This style sheet contains all reused css code resourced from 3rd parties. Credits are documented in README.md

/* CODE REUSE - Scrollbar CSS Styling: from Digital Ocean: https://www.digitalocean.com/community/tutorials/css-scrollbars */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #83b0ef #999;
  scroll-behavior: smooth;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #999;
}

*::-webkit-scrollbar-thumb {
  background-color: #83b0ef;
  border-radius: 20px;
  border: 1px solid #999;
}

/* END CODE REUSE - Scrollbar CSS Styling: from Digital Ocean */



/* CODE REUSE - Tooltip: from W3Schools: https://www.w3schools.com/css/css_tooltip.asp
/* Tooltip container */
.pmd-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.pmd-tooltip .pmd-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Custom Adjustments */
  top: -5px;
  left: 40px; 
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.pmd-tooltip:hover .pmd-tooltiptext {
  visibility: visible;
}

  /* END CODE REUSE - Tooltip: from W3Schools: https://www.w3schools.com/css/css_tooltip.asp