/* george lychock MS2 stylesheet */
/* NOTES:
    - Except for base html elements, common colors, and dashboard color scheme styles, all other custom selectors names begin with "pmd" to make it easier to see in the markup */


/* ######## CSS TOC - In Order of Appearance: */
/* @imports */
/* Bootstrap Overides */
/* Base Elements */
/* Common Text Colors */
/* Common Background Colors*/
/* Common Button Colors*/
/* Spacers */
/* Font Styles */
/* Common Positioning */
/* Common Other*/
/* Buttons */
/* Nav */
/* Banner */
/* Header */
/* Mobile Library Dropdown */
/* Project Form */
/* Dashboard */
/* Dashboard Panels */
/* Active Projects Dashboard /*
/* Active Widgets Dashboard */
/* Progress Bar */
/* Widget Library */
/* Footer */
/* Social Links */
/* @media */
/* Color Schemes */

/*########## /CSS TOC */


/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

/* Bootstrap Overides */
button:focus {
    outline: none;
}


/* Base Elements */
body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', 'FreeSans', sans-serif;
    font-weight: 400;
}

/* Common Text Colors: Allows me to change colors globally for all main heads, sections, and links.pmd- NOTE! Some :hover colors are defined at the specific selector style further below */
/*header colors*/
.pmd-hcolor-1 {color:#1759b5;}
.pmd-hcolor-2 {color:#000;}
.pmd-hcolor-3 {color:#999;}
.pmd-hcolor-4 {color:whitesmoke;}
.pmd-hcolor-5 {color:#83b0ef;}

/*nav colors */
.pmd-ncolor-1 {color:#4dd2ff;}
.pmd-ncolor-2 {color:#fff;}
.pmd-ncolor-3 {color:#fa0;}
.pmd-ncolor-4 {color: whitesmoke;}
.pmd-ncolor-4 button {color: whitesmoke;}
.pmd-ncolor-4:hover {color:#fa0;}
.pmd-ncolor-4 button:hover {color:#fa0;}
.pmd-ncolor-5 {color: whitesmoke;}


/* main text colors */
.pmd-pcolor-1 {color:whitesmoke;}
.pmd-pcolor-2 {color:#000;}
.pmd-pcolor-3 {color:#333;}
.pmd-pcolor-4 {color:#ea8361;}

/* link colors */
.pmd-acolor-1 {color:#666;}
.pmd-acolor-2 {color:#000;}
.pmd-acolor-2-hover a:hover {color:#b2c8cf; text-decoration: none;}
.pmd-acolor-3 {color:#4dd2ff;}
.pmd-acolor-3:hover {color:tomato; text-decoration: none;}
.pmd-acolor-4 button {color:#ea8361;}
.pmd-acolor-4 button:hover {color:#83b0ef; text-decoration: none;}
.pmd-acolor-5 {color:#fff;}
.pmd-acolor-5:hover {color:black; text-decoration: none;}
.pmd-acolor-6 {color:whitesmoke;}
.pmd-acolor-6:hover {color:#ea8361; text-decoration: none;}
.pmd-acolor-6 i:hover {color:#ea8361; text-decoration: none;}

/*Common Background Colors*/
.pmd-bcolor-1 {background-color:rgba(0, 0, 0, .04);}
.pmd-bcolor-2 {background-color:whitesmoke;}
.pmd-bcolor-3 {background-color:#999;}
.pmd-bcolor-4 {background-color:#5a6268;}
.pmd-bcolor-5 {background-color:#000;}
.pmd-bcolor-6 {background-color:rgba(0, 0, 0, .85);}
.pmd-bcolor-nav {background-color:#1759b5;}
.pmd-bcolor-foot {background-color:#fda;}

/*Common Button Colors*/
.pmd-btncolor-1 {background-color: #ea8361}
.pmd-btncolor-2 {background-color: #000;}

/* Spacers */
.pmd-min-height-295 {
    min-height: 295px;
}
/* Font Styles */
.pmd-uppercase {
    text-transform: uppercase;
    font-family: 'Montserrat', 'FreeSans', sans-serif;
}

.pmd-lowercase {
    text-transform: lowercase;
    font-family: 'Montserrat', 'FreeSans', sans-serif;
}

.pmd-font75 {
    font-size: .75rem;
}

/* Common Positioning */
.pmd-text-center {
    text-align: center;
}

.pmd-float-right {
    float: right;
}

.pmd-dinline {
    display: inline;
}

/* Common Other */
.pmd-no-txt-dec {
    text-decoration: none;
}

.pmd-hide {
    visibility: hidden;
}

/* Main Structure */ 
.pmd-row-main {
    margin: 0;
}

/* Buttons and Icons*/
.pmd-icon-01:hover {
    color: black;
    cursor: pointer;
}

.pmd-icon-02 {
    font-size: .75rem;
    border: none;
    display: inline;
    float: right;
    background-color: transparent;
}

.pmd-icon-02 i:hover {
    color: turquoise;
    cursor: pointer;
}

.pmd-icon-03 { /* OpenWeather Cog*/
    border: none;
    display: inline;
    background-color: transparent;
}

.pmd-icon-03 i:hover {
    color: black;
    cursor: pointer;
}

.pmd-icon-04 {
    border: none;
    margin-left: 5px;
    background-color: transparent;
    float: right;
    clear: both;
    font-size: .75rem;
}

.pmd-icon-04 i:hover {
    color: turquoise;
    cursor: pointer;
}

.pmd-icon-05 { /* dashboardSettings */
    font-size: .75rem;
    border: none;
    background-color: transparent;
    width: 30px;
}

.pmd-icon-05 i:hover {
    color: turquoise;
    cursor: pointer;
}

.pmd-icon-06 {
    border: none;
    display: inline;
    background-color: transparent;
}

.pmd-icon-06:hover {
    color: red;
}

.pmd-btn-library {
    margin: 15px 5px;
    border-radius: 50px;
    display: block;
}

/* Nav */
.pmd-corp-title {
    font-size: 1.0rem;
}

.pmd-nav-tog {
    font-size: .75rem;
    border: none;
}

.pmd-nav-item {
    background: transparent;
    border: none;
    text-align: left;
    font-size: .90rem;
    padding: 10px;
    margin: 0 15px 4px 8px;
}

.pmd-nav-item:hover {
    color: whitesmoke;
}

.pmd-nav-cntnr {
    margin: 0;
    padding: 0;
}

.pmd-nar-bar {
    padding: 0 0 0 5px;
}

.pmd-nav-icon {
    font-size: .75rem;
    margin-right: 5px;
}

.pmd-cog-instructions {
    font-size: .75rem;
    margin: 20px 0;
}

.pmd-cog-instructions:hover {
    cursor: pointer;
}

.pmd-cog-show {
    color: red !important;
    font-weight: bolder;
}

/* Banner */
.pmd-banner-msg-block {
    text-align: center;
    margin-top: 5px;
}

.pmd-banner-msg-01 {
    display: inline;
    background-color: #fff;
    border: none;
}

.pmd-welcome-msg-block {
    font-size: .75rem;
}

.pmd-welcome-msg-block ul {
    list-style-type: disc;
}

.pmd-welcome-msg-footer {
    font-size: 1.0rem;
}

/* Header */
.pmd-header-cntnr {
    padding: 0;
    max-width: 1400px;
    margin-bottom: 10px;
}

.pmd-header {
    margin: 10px 0 0 5px;
}

.pmd-title {
    font-size: 2rem;
}

.pmd-tagline {
    font-weight: bolder;
}

.pmd-settings-btn {
    margin-bottom: 10px;
}

.pmd-login-modal-hint {
    margin-top: 10px;
}

.pmd-up-col {
    padding: 10px 10px 5px 10px;
}

.pmd-userpanel {
    margin-top: 3px;
}

.pmd-username {
    margin-top: 3px;
}

.pmd-un-confirm {
    margin-top: 10px;
}

/* User Panel Library Dropdown */
#usermenu-projects-library{
    padding: 0 10px;
}

#usermenu-widgets-library{
    padding: 0 10px;
}

.pmd-usermenu {
    margin: 0 0 10px 0;
    clear: both;
}

.pmd-usermenu-lib-drop {
    padding: 6px;
    border: solid 2px #404040;
    min-width: 300px;
}

.pmd-usermenu-lib-box {
    padding-left: 10px;
    margin-top: 5px;
}

.pmd-usermenu-lib-box2 {
    padding-left: 10px;
    margin-top: 20px;
}

.pmd-usermenu-h4 {
    font-size: 1.50rem;
}

.pmd-usermenu-h5 {
    font-size: 1.25rem;
    margin-top: 15px;
}

.pmd-usermenu-btn-library {
    border: none;
    font-size: small;
    padding: 2px 4px;
    margin: 0 0 20px 10px;
    border-radius: 10px;
}

.pmd-usermenu-lib-btn {
    margin: 5px;
    padding: 2px 5px;
    font-size: .75rem;
    border-radius: 20px;
    background-color: transparent;
    color: #333;
}

/* Project Form */
.valUserNameAlert01 {
    color: red;
    font-weight: 700;
}

/* Project Form */
.pmd-form-input-1 {
    font-size: .75rem;
}

.valAlert01 {
    color: red;
    font-weight: 700;
}

.valIndicator01 {
    color: red;
    font-weight: 700;
    float: left;
    margin-right: 2px;
}

#saveConfirmationModal {
    margin-top: 10px;
}

/* Dashboard */
.pmd-dashboard {
    background-color: #e6e6e6;
    padding: 0;
    max-width: 1400px;
}

.pmd-dashboard-vp {
    padding-right: 15px;
}

/* Dashboard Panels */
.pmd-active-widget {
    border: solid 1px #707070;
    padding: 10px 10px 0 10px;
    margin: 0px 10px 10px 0px;
    min-height: 258px;
    font-size: .75rem;
}

.pmd-active-widget h5 {
    font-size: .85rem;
}

.pmd-panel-head {
    border: solid 1px #707070;
    border-radius: 10px 10px 0px 0px;
    margin: 0px 10px 0px 0px;
    padding: 0px 10px;
}

.pmd-icon-wrapper01 {
    border: none;
    background-color: transparent;
    float: right;
}

.pmd-panel-headtext {
    font-size: .55rem;
    margin-right: 4px;
    padding-top: 3px;
    display: inline;
}

.pmd-panel-headtext:hover {
    color: red;
    cursor: pointer;
}

.pmd-panel-main {
    border: solid 1px #707070;
    padding: 0px 10px;
    margin: 0px 10px 5px 0px;
}


/* Active Projects Dashboard */
.pmd-active-projects-head {
    margin: 20px 0 10px 0;
    padding: 5px 0 5px 15px;
    border-radius: 5px;
    font-size: 1rem;
}

.pmd-active-projects {
    padding-left: 10px;
}

.pmd-project-data1 {
    font-size: .75rem;
    padding: 3px 0px;
}

.pmd-project-data2 {
    font-size: .65rem;
    padding: 3px 0px;
    min-height: 40px;
}

/* Active Widgets Dashboard */
.pmd-active-widgets-head {
    margin: 20px 0 10px 0;
    padding: 5px 0 5px 15px;
    border-radius: 5px;
    font-size: 1rem;
}

.pmd-active-widgets {
    padding-left: 10px;
}

/* Progress Bar */
.pmd-prg-row {
    margin: 2px;
    padding: 1px;
    height: .80rem;
}

.pmd-prg-bar {
    font-size: .4rem;
}

.pmd-prg-bar-title {
    font-size: .5rem;
    padding: 7px 5px 0 0;
    width: 60px;
    text-align: right;
    background-color: whitesmoke;
}

/* Widget Library */
.pmd-w-library {
    padding: 20px 10px 10px 10px;
}

.pmd-project-lib {
    min-height: 300px;
    max-height: 400px;
}

.pmd-proj-lib {
    overflow-y: auto;
    max-height: 300px;
}

.pmd-lib-directions {
    margin-top: 40px;
}

.pmd-lib-btn {
    display: inline;
    font-size: .75rem;
}

/* Footer */
.pmd-footer {
    margin: 10px 0 10px 0px;
    padding: 10px 10px 10px 20px;
    border: solid 1px #fda;
    border-radius: 20px;
}

/* Social Links */


/* @media */
@media only screen and (max-width: 767px) {

    
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 1.25rem;
    }

    .pmd-cog-instructions {
        margin: 0;
    }

    .pmd-btn-library {
        font-size: .75rem;
    }

}

@media only screen and (min-width: 992px) {
    h2 {
        font-size: 1.5rem;
    }

    .pmd-corp-title {
        font-size: 1.0rem;
    }

    .pmd-nav-item {
        border: none;
        border-radius:0rem;
        background: transparent;
        padding-top: 4px;
        margin: 0 4px 0 8px;
        min-width: 0;
    }

    .pmd-header {
        padding: 10px 0;
    }

    .pmd-icon-02 {
        border: none;
        display: inline;
        float: right;
        background-color: transparent;
    }
    
    .pmd-title {
        font-size: 3rem;
    }

    .pmd-cog-instructions {
        padding: 5px 15px 0 0;
        font-size: .85rem;
        font-weight: 500;
        margin: 0;
    }

    .pmd-cog-msgbox {
        position: absolute;
    }

    .pmd-cog-msgbox-2 {
        position: absolute;
        clear: right;
    }

    .pmd-up-row {
        height: 70px;
        margin-bottom: 20px;
    }

    .pmd-up-col {
        padding-top: 5px;
    }

    .pmd-username {
        margin: 10px 0 0 10px;
        font-size: 1.5rem;
    }

    .pmd-dashboard {
        background-color: inherit;
    }

    .pmd-btn-library {
        font-size: 1.0rem;
    }

    .pmd-dashboard-vp {
        padding-right: 0px;
    }

    .pmd-active-widget {
        height: 300px;
    }

    .pmd-active-widget h5 {
        min-height: 50px;
    }

    .pmd-panel-head {
        border-radius: 20px 20px 0px 0px;
    }

    .pmd-active-projects-head {
        margin: 20px 0 10px 0;
        padding: 5px 0 5px 15px;
        border: none;
        border-radius: 0;
    }

    .pmd-active-widgets-head {
        margin: 20px 0 10px 0;
        padding: 5px 0 5px 15px;
        border: none;
        border-radius: 0;
    }

    .pmd-active-widget h5 {
        font-size: 1.25rem;
    }

    .pmd-prg-row {
        margin: 5px;
        padding: 1px;
    }

    .pmd-prg-bar {
        font-size: .5rem;
    }

}

@media only screen and (min-width: 1300px) {

    h2 {
        font-size: 2.0rem;
    }

    .pmd-active-widget {
        height: 258px;
    }

}

/* Color Schemes */
.make-dark {
    /*background-color: rgba(115, 68, 68, .25); */
    background-color: rgba(0, 0, 0, 1);
}
.make-dark-01 {
    color: whitesmoke;
}

.make-dark-02 {
    background-color: rgba(255, 255, 255, .08);
    color: whitesmoke;
}

.make-dark-03 {
    background-color: rgba(0, 128, 64, .75);
    color: whitesmoke;
}

.make-dark-04 {
    background-color: #ea8361;
}

.make-dark-05 {
    background-color: rgba(255, 255, 255, .08);
}

.make-dark-06 {
    border: solid 1px whitesmoke;
}

.make-dark-07 {
    background-color: #000;
}

.make-weather-dark-01 {
    background-image: linear-gradient(#333, #000);
}


/* Positioning Schemes */
.pmd-lib-right-fix {
    padding-right: 15px;
    padding-left: 0px;
}
