/* george lychock MS2 stylesheet */
/* NOTES: */


/* ######## CSS TOC - In Order of Appearance: */
/* @imports */
/* Base Element */
/* Common Text Colors */
/*Common Background Colors*/
/*Common Button Colors*/
/* Placeholders */
/* Font Styles */
/* Common Positioning */
/* Common Other*/

/* Navbar */
/* Banner */
/* Hero */
/* Nav Icon Home */
/* Nav Icon - Secondary Page */
/* Content Area - Secondary Page */
/* Work History */
/* Skills */
/* Profile */
/* Portfolio */
/* Education */
/* Social Link */
/* Home Profile Section */
/* Home Credentials Section */
/* Home Site Links Section */
/* Home Social Links Section */
/* Home Home Footer Section */
/* @media */
/*########## /CSS TOC */


/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

/* Base Elements */
body {
    background-color: #789dbf;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', 'FreeSans', sans-serif;
}

/* Common Text Colors: Allows me to change colors globally for all main heads, sections, and links. NOTE! All :hover colors are defined at the specific selector style further below */
/*header colors*/
.hcolor-1 {color:#fff;}
.hcolor-2 {color:whitesmoke;}
/*nav colors */
.ncolor-1 {color:#4dd2ff;}
.ncolor-2 {color:#fff;}
.ncolor-3 {color:#fa0;}
/* main text colors */
.pcolor-1 {color:whitesmoke;}
.pcolor-2 {}
/* link colors */
.acolor-1 {color:whitesmoke;}
.acolor-2 {color:#fa0;}
.acolor-2-hover a:hover {color:#4dd2ff; text-decoration: none;}
.acolor-3 {color:#4dd2ff;}

/*Common Background Colors*/
.bcolor-1 {background-color:#fff;}
.bcolor-2 {background-color:whitesmoke;}
.bcolor-3 {background-color:#999;}
.bcolor-4 {background-color:#666;}
.bcolor-5 {background-color:#000;}
.bcolor-nav {background-color:#fcc;}
.bcolor-foot {background-color:#fda;}
.bcolor-head {background-color:#acc;}

/*Common Button Colors*/
.btncolor-1 {background-color:green;}
.btncolor-2 {background-color:red;}

/* Placeholders */
.max-height-400 {
    max-height: 400px;
}

.height-800 {
    height: 800px;
}

/* Font Styles */
.uppercase {
    text-transform: uppercase;
    font-family: 'Montserrat', 'FreeSans', sans-serif;
}

.lowercase {
    text-transform: lowercase;
    font-family: 'Montserrat', 'FreeSans', sans-serif;
}

.font75 {
    font-size: .75rem;
}

/* Common Positioning */
.text-center {
    text-align: center;
}

.float-right {
    float: right;
}

/* Common Other */
.no-txt-dec {
    text-decoration: none;
}



/* Nav */
/* Header */
/* Widget Library */

/* Dashboard */
.active-widget-3col {
margin: 10px;
padding: 5px;
}