/* george lychock MS2 stylesheet */
/* NOTES:
    - Except for base html elements and colors, all other custom selectors names begin with "pmd" to make it easier to see in the markup */


/* ######## CSS TOC - In Order of Appearance: */
/* @imports */
/* Base Elements */
/* Common Text Colors */
/* Common Background Colors*/
/* Common Button Colors*/
/* Spacers */
/* Font Styles */
/* Common Positioning */
/* Common Other*/
/* Buttons */
/* Nav */
/* Header */
/* Banner */
/* Mobile Library Dropdown */
/* Dashboard Panels */
/* Active Projects Dashboard /*
/* Active Widgets Dashboard */
/* Progress Bar */
/* Widget Library */
/* Footer */
/* Social Links */
/* @media */
/* Color Schemes */

/*########## /CSS TOC */


/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

/* Base Elements */
body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', 'FreeSans', sans-serif;
    font-weight: 400;
}

/* Common Text Colors: Allows me to change colors globally for all main heads, sections, and links.pmd- NOTE! All :hover colors are defined at the specific selector style further below */
/*header colors*/
.pmd-hcolor-1 {color:#619aea;}
.pmd-hcolor-2 {color:#000;}
/*nav colors */
.pmd-ncolor-1 {color:#4dd2ff;}
.pmd-ncolor-2 {color:#fff;}
.pmd-ncolor-3 {color:#fa0;}
/* main text colors */
.pmd-pcolor-1 {color:whitesmoke;}
.pmd-pcolor-2 {color:#000;}
/* link colors */
.pmd-acolor-1 {color:#666;}
.pmd-acolor-2 {color:#000;}

.pmd-acolor-2-hover a:hover {color:#4dd2ff; text-decoration: none;}
.pmd-acolor-3 {color:#4dd2ff;}

/*Common Background Colors*/
.pmd-bcolor-1 {background-color:rgba(0, 0, 0, .04);}
.pmd-bcolor-4 {background-color:#666;}
.pmd-bcolor-2 {background-color:whitesmoke;}
.pmd-bcolor-3 {background-color:#999;}
.pmd-bcolor-5 {background-color:#000;}
.pmd-bcolor-nav {background-color:#83b0ef;}
.pmd-bcolor-foot {background-color:#fda;}

/*Common Button Colors*/
.pmd-btncolor-1 {background-color: #ffc266}
.pmd-btncolor-2 {background-color: #000;}

/* Spacers */
.pmd-min-height-295 {
    min-height: 295px;
}

/* Font Styles */
.pmd-uppercase {
    text-transform: uppercase;
    font-family: 'Montserrat', 'FreeSans', sans-serif;
}

.pmd-lowercase {
    text-transform: lowercase;
    font-family: 'Montserrat', 'FreeSans', sans-serif;
}

.pmd-font75 {
    font-size: .75rem;
}

/* Common Positioning */
.pmd-text-center {
    text-align: center;
}

.pmd-float-right {
    float: right;
}

.pmd-dinline {
    display: inline;
}

/* Common Other */
.pmd-no-txt-dec {
    text-decoration: none;
}


/* Main Structure */ 
.pmd-row-main {
    margin: 0;
}

/* Buttons and Icons*/
.pmd-icon-02 {
    border: none;
    display: inline;
    float: right;
    background-color: transparent;
}

.pmd-icon-02 i:hover {
    color: turquoise;
}

.pmd-icon-03 {
    border: none;
    display: inline;
    background-color: transparent;
}

.pmd-icon-03 i:hover {
    color: turquoise;
}

.pmd-btn-library {
    margin: 5px;
    padding: 2px 5px;
    border-radius: 20px;
    display: block;
}

.pmd-mobile-lib-btn {
    font-size: small;
    padding: 2px 4px;
    margin: 10px;
}

/* Nav */
.pmd-nav-item {
    border: none;
    background: transparent;
    padding-top: 4px;
    margin: 0 4px 0 8px;
}
.pmd-nav-item:hover {
    color: whitesmoke;
}

.pmd-nav-cntnr {
    margin: 0;
    padding: 0;
}

.pmd-nar-bar {
    padding: 0 0 0 5px;
}

/* Header */
.pmd-header-cntnr {
    padding: 0;
}

.pmd-header {
    padding: 10px 10px 10px 20px;
    margin: 0 0 0 50px;
}

/* Banner */

/* Mobile Library Dropdown */
.pmd-mobile-lib-drop {
    background-color: #e6e6e6;

}
.pmd-mobile-lib-box {
    padding-left: 10px;
    min-height: 40px;
    margin-bottom: 15px;
}

/* Project Form */
.pmd-form-input-1 {
    font-size: .75rem;
}

.valAlert01 {
    color: red;
    font-weight: 700;
}

.valIndicator01 {
    color: red;
    font-weight: 700;
    float: left;
    margin-right: 2px;
}

#saveConfirmationModal {
    margin-top: 5px;
    color: green;
}

/* Dashboard Panels */
.pmd-active-widget {
    border: solid 1px #707070;
    padding: 10px 10px 0 10px;
    margin: 0px 10px 10px 0px;
    height: 250px;
}

.pmd-panel-head {
    border: solid 1px #707070;
    border-radius: 20px 20px 0px 0px;
    margin: 0px 10px 5px 0px;
    padding: 0px 10px;
}

.pmd-icon-wrapper01 {
    border: none;
    background-color: transparent;
}

.pmd-panel-headtext {
    font-size: .75rem;
    margin-right: 4px;
    padding-top: 3px;
    display: inline;
}

.pmd-panel-headtext:hover {
    color: red;
    cursor: pointer;
}

.pmd-icon-01:hover {
    color: red;
    cursor: pointer;
}

.pmd-panel-main {
    border: solid 1px #707070;
    padding: 0px 10px;
    margin: 0px 10px 5px 0px;
}

/* Active Projects Dashboard */
.pmd-active-projects-head {
    margin-bottom: 10px;
    padding: 2px 0 0 15px;
    border: solid 1px #707070;
    border-radius: 20px;
}

.pmd-active-projects {
    padding-left: 10px;
}

.pmd-project-data1 {
    font-size: .75rem;
    padding: 3px 0px;
}

/* Active Widgets Dashboard */
.pmd-active-widgets-head {
    margin-bottom: 10px;
    padding: 2px 0 0 15px;
    border: solid 1px #707070;
    border-radius: 20px;
}

.pmd-active-widgets {
    padding-left: 10px;
}

/* Progress Bar */
.pmd-prg-row {
    margin: 5px;
    padding: 3px;
    height: 1rem;
}

.pmd-prg-bar {
    font-size: .5rem;
}

/* Widget Library */
.pmd-w-library {
    padding: 20px 10px 10px 10px;
    border-radius: 25px;
}

.pmd-project-lib {
    min-height: 300px;
}

.pmd-lib-directions {
    margin-top: 40px;
}

/* Footer */
.pmd-footer {
    margin: 10px 0 10px 0px;
    padding: 10px 10px 10px 20px;
    border: solid 1px #fda;
    border-radius: 20px;
}

/* Social Links */


/* @media */
@media only screen and (min-width: 767px) {

    }

/* Color Schemes */
.make-dark {
    /*background-color: rgba(115, 68, 68, .25); */
    background-color: rgba(0, 0, 0, 1);
}
.make-dark-01 {
    color: whitesmoke;
}

.make-dark-02 {
    background-color: rgba(255, 255, 255, .08);
    color: whitesmoke;
}

.make-dark-03 {
    background-color: rgba(0, 128, 64, .75);
    color: whitesmoke;
}

.make-dark-04 {
    background-color: rgba(255, 221, 170, .5);
}
