/* george lychock MS2 stylesheet */
/* NOTES:
    - Except for base html elements and colors, all other custom selectors names begin with "pmd" to make it easier to see in the markup */


/* ######## CSS TOC - In Order of Appearance: */
/* Open Weather Styles */


/* Open Weather Styles */
.pmd-weather-icon-bg-night {
    background-image: linear-gradient(#00264d, #666);
}

.pmd-weather-icon-bg-day {
    background-image: linear-gradient(lightblue, lightblue);
}

.pmd-weather-icon-bg-day {
    background-color: lightblue;
}

.pmd-weather-desc {
    padding: 20px 0 15px 10px;
    min-height: 80px;
    font-size: .75rem;
}

.pmd-weather-bg {
    margin-top: 10px;
}

.pmd-weather-des-bg-day {
    background-image: linear-gradient(#39f, #000);
}

.pmd-weather-des-bg-night {
    background-image: linear-gradient(#333, #000);
}

.pmd-bg-water {
    float: right;
    padding-right: 10px;
}

.pmd-weather-temp {
    font-size: 3rem;
    color: whitesmoke;
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}

